body {
    font-family: Arial, sans-serif;
}

.ventEmergente {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #0F152A;
}

.ventEmergente-contenido {
    position: relative;
    padding: 60px;
    border-radius: 35px;
    width: 420px;
    text-align: center;
    color: #fff;
    background-color: #16A34A;
}


.botones-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.button {
    margin-top: 30px;
    padding: 10px 30px;
    background-color: #20193a;
    border-radius: 100px;
}