<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edita la informacion de tu perfil</title>
    <link rel="stylesheet" href="Requerimiento18EditAdd.css">
</head>

<body>
    <div class="modal">
        <div class="modal-contenido">
            <h2>Editar juego</h2>
            <div class="formulario-contenedor">
                <div>
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" />

                    <label for="categoria">Categoría</label>
                <select id="categoria" name="categoria">
                    <option>Terror</option>
                    <option>Acción</option>
                    <option>RPG</option>
                    <option>Aventura</option>
                </select>

                    <label for="precio">Precio</label>
                    <input type="text" id="precio" name="precio" />

                    <label for="descuento">Descuento</label>
                    <input type="text" id="descuento" name="descuento" />
                </div>

                <div>
                    <label for="descripcion">Descripcion</label>
                    <textarea id="descripcion" name="descripcion"></textarea>

                    <label for="imagen">Imagen</label>
                    <div id="preview" class="imagen-cuadro"></div>

                </div>
            </div>
            <div class="botones-contenedor">
                <div class="button">Cancelar</div>
                <div class="button">Enviar</div>
            </div>
        </div>
    </div>
</body>

</html>