<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de compra</title>
    <link rel="stylesheet" href="Requerimiento13.css">
</head>

<body>
    <div class="modal">
        <div class="modal-contenido">
            <button class="cerrar-modal">&times;</button>

            <div class="mensaje-compra">
                <h2>¡Compra completada con éxito!</h2>
                <div class="check-icono">&#10003;</div> 

            </div>

            <p>Las claves de los juegos adquiridos se han enviado a la dirección de correo electrónico proporcionada.</p>
        </div>
    </div>
</body>

</html>
