<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edita la informacion de tu perfil</title>
    <link rel="stylesheet" href="Requerimiento15.css">
</head>
<body>
    <div class="modal">
        <div class="modal-contenido">
            <button class="cerrar-modal">&times;</button>
            <div class="perfil-contenedor">
                
              <img class="perfil-imagen" src="ruta/imagen.jpg" alt="Tu imagen de perfil">

                <div class="formulario-contenedor">
                    <h2>Edita la información de tu perfil</h2>
                    <form>
                        <label for="primerNombre">Primer Nombre</label>
                        <input type="text" id="primerNombre" name="primerNombre" />
              
                        <label for="segundoNombre">Segundo Nombre</label>
                        <input type="text" id="segundoNombre" name="segundoNombre" />
              
                        <label for="correo">Correo</label>
                        <input type="email" id="correo" name="correo" />
                       <button type="submit" className="button">Edita información</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>