body {
    font-family: Arial, sans-serif;
}

.modal {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #0F152A;
}

.modal-contenido {
    position: relative;
    padding: 60px;
    border-radius: 35px;
    width: 420px;
    color: #fff;
    background-color: #16A34A;
    text-align: left;
}

.formulario-contenedor {
    flex: 1;
    align-items: center;
}

.formulario-contenedor label {
    display: block;
    margin: 10px 2px;
    text-align: left;
}

.formulario-contenedor input {
    width: 75%;
    padding: 9px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: none;
}

#categoria {
    justify-content: left;
    width: 80%;
    padding: 9px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.botones-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.button {
    bottom: 10px;
    padding: 10px 30px;
    background-color: #20193a;
    border-radius: 100px;
}

.precio-rango {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.precio-rango input {
    width: 25%;
    padding: 9px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: none;
}
