body {
    font-family: Arial, sans-serif;
}

.modal {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #0F152A;
}


.formulario-contenedor textarea {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    padding: 9px;
    border: none;
    resize: none;
}

.modal-contenido {
    position: relative;
    padding: 60px;
    border-radius: 35px;
    width: 420px;
    text-align: center;
    color: #fff;
    background-color: #16A34A;
}

.formulario-contenedor {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.formulario-contenedor input {
    width: 100%;
    padding: 9px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: none;
}

.formulario-contenedor label {
    display: block;
    margin: 10px 2px;
    text-align: left;
}

.botones-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.button {
    margin-top: 30px;
    padding: 10px 30px;
    background-color: #20193a;
    border-radius: 100px;
}

.imagen-cuadro {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    padding: 9px;
    background-color: #ffffff;
}
