body {
    font-family: 'Orbitron', sans-serif;
    color: var(--secondary-color);
}

.mi-modal  {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #0f152ab9;
}

.mi-modal-contenido {
    position: relative;
    padding: 60px;
    border-radius: 35px;
    width: 50%;
    text-align: center;
    border-radius: 12.124px;
    border: 2px dashed #ccc;
    background-color: var(--card-bg);
}

.mi-modal .cerrar-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: #c12121;
    font-size: 24px;
}