.sidebar {
  width: 250px;
  background-color: var(--card-bg);
  padding: 20px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}

.perfil {
  text-align: center;
  margin-bottom: 40px;
}

.perfil-imagen {
  width: 150px;
  height: 150px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.perfil-nombre {
  font-weight: bold;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: var(--secondary-color);
  padding: 12px 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.menu .cerrar-sesion {
  margin-top: 32px;
}

.menu .cerrar-sesion a {
  color: red;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.05);
}

.menu .cerrar-sesion a:hover {
  background-color: rgba(255, 0, 0, 0.15);
}
