.perfil-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: #0f152ab9;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FFF;
}
